@using System.ServiceModel.Security
@model IEnumerable<JPFinancial.ViewModels.LoanViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanOriginationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginalLoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutstandingBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyInterestCost)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanOriginationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginalLoanAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OutstandingBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DailyInterestCost)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>

        }
    </tbody>

    <tfoot>
        <tr class="bg-info" title="Totals" style="margin-top: 20px">
            <td></td>
            <td></td>
            <td>
                @Model.Sum(l => l.OriginalLoanAmount).ToString("C")
            </td>
            <td>
                @Model.Sum(l => l.OutstandingBalance).ToString("C")
            </td>
            <td>
                @Model.Sum(l => l.Payment).ToString("C")
            </td>
            <td>
                @Model.Sum(l => l.DailyInterestCost).ToString("C")
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>

