@model IEnumerable<JPFData.Models.Paycheck>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employer)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Regular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectronicsNontaxable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TravelBusinessExpenseNontaxable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HolidayPay)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.GrossPay)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.FederalTaxableGross)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FederalWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDFederalWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FederalMedicaidWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDFederalMedicaidWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSecurityWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDSocialSecurityWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateTaxWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDStateTaxWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityTaxWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDCityTaxWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IRA401KWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDIRA401KWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DependentCareFSAWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDDependentCareFSAWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HealthInsuranceWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDHealthInsuranceWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DentalInsuranceWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDDentalInsuranceWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalBeforeTaxDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDTotalBeforeTaxDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildSupportWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDChildSupportWithholding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAfterTaxDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDTotalAfterTaxDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YTDTotalDeductions)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NetPay)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allowances)
            </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employer)
            </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.Regular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectronicsNontaxable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelBusinessExpenseNontaxable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayPay)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.GrossPay)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.FederalTaxableGross)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FederalWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDFederalWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FederalMedicaidWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDFederalMedicaidWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDSocialSecurityWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateTaxWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDStateTaxWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityTaxWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDCityTaxWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IRA401KWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDIRA401KWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DependentCareFSAWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDDependentCareFSAWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HealthInsuranceWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDHealthInsuranceWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DentalInsuranceWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDDentalInsuranceWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalBeforeTaxDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDTotalBeforeTaxDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildSupportWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDChildSupportWithholding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAfterTaxDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDTotalAfterTaxDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YTDTotalDeductions)
            </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.NetPay)
        </td>
        @*<td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowances)
            </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
    }

</table>
