@model JPFinancial.Models.TransactionDTO


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Transaction</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Payee, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Payee, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Payee, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Memo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="divType">
            @Html.LabelFor(model => model.TypesEnum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.TypesEnum, new { id = "ddType", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TypesEnum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoriesEnum, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.CategoriesEnum, new { id = "ddCategories", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CategoriesEnum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="divAmount">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { id = "tbAmount", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="divDebitAccount">
            @Html.LabelFor(model => model.DebitAccounts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.DebitAccounts, new SelectList(Model.DebitAccounts, "Id", "Name"), "", new { id = "ddDebitAccount", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DebitAccounts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="divCreditAccount">
            @Html.LabelFor(model => model.CreditAccounts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CreditAccounts, new SelectList(Model.CreditAccounts, "Id", "Name"), "", new { id = "ddCreditAccount", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CreditAccounts, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="../../Scripts/Transactions.js" type="text/javascript"></script>
}



