@model  JPFData.ViewModels.TransactionViewModel

@Html.AntiForgeryToken()

<div class="table">
    <table class="table table-condensed table-responsive">
        <thead>
            <tr>
                <th scope="col">@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th scope="col">@Html.LabelFor(model => model.Payee, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th scope="col">@Html.LabelFor(model => model.Memo, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th scope="col">@Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th scope="col">@Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2 dropdown-toggle" })</th>
                <th scope="col"><label class="control-label">Credit</label></th>
                <th scope="col"><label class="control-label">Debit</label></th>
                <th scope="col">@Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th scope="col">@Html.LabelFor(model => model.UsedCreditCard, "Credit?", htmlAttributes: new { @class = "control-label col-md-2" })</th>
                <th scope="col"><label class="control-label">Credit Card</label></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>

                    <div class="form-group">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Payee, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Payee, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.EnumDropDownListFor(model => model.Category, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.SelectedCreditAccount, new SelectList(Model.Accounts, "Id", "Name"), " ", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Accounts, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.SelectedDebitAccount, new SelectList(Model.Accounts, "Id", "Name"), " ", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Accounts, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.CheckBoxFor(model => model.UsedCreditCard, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        @Html.DropDownListFor(model => model.SelectedCreditCardAccount, new SelectList(Model.CreditCards, "Id", "Name"), " ", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SelectedCreditCardAccount, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="submit" value="Enter Transaction" class="btn btn-primary btn-sm" />
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

