@model IEnumerable<JPFData.Models.Transaction>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsedCreditCard)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsedCreditCard)
                </td>
            </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">Total Transaction Cost: $12,334.52</td>
        <td colspan="2">Average Transaction Cost: $18.21</td>
        <td colspan="2">Largest Transaction: $1382.76</td>
        <td colspan="2">Smallest Transaction: $0.21</td>
    </tr>
    </tfoot>
</table>
