@model JPFData.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Accounts";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="row" style="margin: 0 0 12px 16px">
                <p style="font-size: large; font-weight: bold">@DateTime.Today.ToString("MMMM yyyy")</p>
                <p class="category">Monthly</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-warning text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Largest Account</p>
                                       @Html.DisplayFor(model => model.Entity.AccountsMetrics.LargestBalance)
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i>
                                @*@Html.DisplayFor(model => model.Entity.StaticFinancialMetrics.PercentageChangeExpenses)*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-success text-center">
                                    <i class="ti-wallet"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Smallest Account</p>
                                    @Html.DisplayFor(model => model.Entity.AccountsMetrics.SmallestBalance)
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i>
                                @*Last month - @Html.DisplayFor(model => model.Entity.StaticFinancialMetrics.LastMonthMandatoryExpenses)*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-danger text-center">
                                    <i class="ti-pulse"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p style="width: 100%">Largest Surplus</p>
                                    @Html.DisplayFor(model => model.Entity.AccountsMetrics.LargestSurplus)
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-calendar"></i>
                                @*Last month - @Html.DisplayFor(model => model.Entity.StaticFinancialMetrics.LastMonthDiscretionarySpending)*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-xs-5">
                                <div class="icon-big icon-info text-center">
                                    <i class="ti-server"></i>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <div class="numbers">
                                    <p>Smallest Surplus</p>
                                    @Html.DisplayFor(model => model.Entity.AccountsMetrics.SmallestSurplus)
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                @* <i class="ti-reload"></i> Update now*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Accounts Balances</h4>
                        <p class="category">Current</p>
                    </div>
                    <div class="content">
                        <div id="chartExpenses" class="ct-chart"></div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class="ti-reload"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header" style="margin: 8px 0">
                        <h4 class="title">Accounts</h4>
                        <p class="category">Current</p>
                        <p>
                            @Html.ActionLink("Add Account", "Create")
                        </p>
                    </div>
                    <div class="container-fluid">
                        @foreach (var item in Model.Entity.Accounts.OrderByDescending(a => a.Balance).ThenBy(b => b.Name))
                        {
                            <div class="card col-lg-3" style="margin: 8px 0; border: slategray solid 1px">
                                <div class="card-header">
                                    <div>@item.Name</div>
                                    <div>
                                        @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                                        @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                                        @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                                    </div>
                                </div>
                                <div class="card-body" style="margin: 12px 0; text-align: center">
                                    <div class="card-price"><span style="font-weight: bold">Balance</span> - $@item.Balance</div>
                                    <div class="card-price"><span style="font-weight: bold">Savings Rate</span> - @item.PercentageOfSavings%</div>
                                </div>
                                <div class="card-footer">
                                    <div class="card-text">
                                        Per Paycheck - $@item.PaycheckContribution
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
