@model JPFData.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Accounts";
}

@using (Html.BeginForm( FormMethod.Post))
{
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="row" style="margin: 0 0 12px 16px">
                    <p style="font-size: large; font-weight: bold">@DateTime.Today.ToString("MMMM yyyy")</p>
                    <p class="category">Monthly</p>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-warning text-center">
                                        <i class="ti-server"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Largest Account</p>
                                        @Html.DisplayFor(model => model.Entity.AccountsMetrics.LargestBalance)
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i>
                                    @*@Html.DisplayFor(model => model.Entity.StaticFinancialMetrics.PercentageChangeExpenses)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-success text-center">
                                        <i class="ti-wallet"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Surplus Accounts</p>
                                        @Html.DisplayFor(model => model.Entity.RebalanceReport.AccountsWithSurplus.Count)
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i>
                                    @*Last month - @Html.DisplayFor(model => model.Entity.StaticFinancialMetrics.LastMonthMandatoryExpenses)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-danger text-center">
                                        <i class="ti-pulse"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p style="width: 100%">Deficit Accounts</p>
                                        @Html.DisplayFor(model => model.Entity.RebalanceReport.AccountsWithDeficit.Count)
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-calendar"></i>
                                    @*Last month - @Html.DisplayFor(model => model.Entity.StaticFinancialMetrics.LastMonthDiscretionarySpending)*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card">
                        <div class="content">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="icon-big icon-info text-center">
                                        <i class="ti-server"></i>
                                    </div>
                                </div>
                                <div class="col-xs-7">
                                    <div class="numbers">
                                        <p>Total Surplus</p>
                                        @Html.DisplayFor(model => model.Entity.RebalanceReport.TotalSurplus)
                                    </div>
                                </div>
                            </div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    @* <i class="ti-reload"></i> Update now*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Accounts Balances</h4>
                            <p class="category">Current</p>
                        </div>
                        <div class="content">
                            <div id="chartAccounts" class="ct-chart"></div>
                            <div class="footer">
                                <hr />
                                <div class="stats">
                                    <i class="ti-reload"></i> Updated 3 minutes ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header" style="margin: 8px 0">
                            <h4 class="title">Accounts</h4>
                            <p class="category">Current</p>
                            <button class="btn btn-sm">
                                @Html.ActionLink("Add Account", "Create")
                            </button>
                            <input type="submit" class="btn btn-sm" value="Rebalance" />

                        </div>
                        <div class="container-fluid" style="text-align: center">
                            @*@if (Model.Entity.RebalanceReport.newReport)
                            {
                                <div title="Rebalancing Report" style="float: left">
                                    <h6>@Model.Entity.RebalanceReport.AccountsWithSurplus.Count Accounts with a surplus totaling $@Model.Entity.RebalanceReport.Surplus</h6>
                                    <h6>@Model.Entity.RebalanceReport.AccountsWithDeficit.Count Accounts with a deficit totaling $@Model.Entity.RebalanceReport.Deficit</h6>
                                    <h6>Total surplus - $@Model.Entity.RebalanceReport.TotalSurplus</h6>
                                    <hr/>
                                    @if (Model.Entity.RebalanceReport.TotalSurplus < 0)
                                    {
                                        <h6>Would you like to rebalance your accounts?</h6>
                                        <input type="submit" class="btn btn-sm" value='@Model.EventArgument = "Yes"' />
                                        <input type="submit" class="btn btn-sm" value="No" name="rebalance" />
                                    }
                                    else
                                    {
                                        <h6>You need to have a total surplus greater than $0.00 to rebalance.  Get your shit together and come back</h6>
                                    }
                                    <h6></h6>
                                </div>
                            }*@
                            @foreach (var item in Model.Entity.Accounts.OrderByDescending(a => a.Balance).ThenBy(b => b.Name))
                            {
                                <div class="card col-lg-3" style="margin: 8px 0; border: slategray solid 1px">
                                    <div class="card-header">
                                        <div style="font-weight: bold; font-size: 1.5em">@item.Name</div>
                                        <div>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        </div>
                                    </div>
                                    <div class="card-body" style="margin: 12px 0; text-align: center">
                                        <div class="card-price"><span style="font-weight: bold">Balance</span> - $@item.Balance</div>
                                        <div class="card-price"><span style="font-weight: bold">Required Savings</span> - $@item.RequiredSavings</div>
                                        <div class="card-price"><span style="font-weight: bold">Surplus</span> - $@item.BalanceSurplus</div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="card-text">
                                            <div style="float: left">
                                                <span style="font-weight: bold">Paycheck</span> - $@item.PaycheckContribution
                                            </div>
                                            <div style="float: right">
                                                <span style="font-weight: bold">Suggested</span> - $@item.SuggestedPaycheckContribution
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <!--   Core JS Files   -->
    <script src="../../Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="../../Scripts/bootstrap-paper.min.js" type="text/javascript"></script>

    <!--  Charts Plugin -->
    <script src="../../Scripts/chartist.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> ;
    <script>
        google.load("visualization",
            "1",
            {
                packages: ["corechart"]
            });

        //function Rebalance(btn) {
        //    var test = "";
        //}

        $(document).ready(function() { chart(); });

        function chart() {
            var accounts = @Html.Raw(Json.Encode(@Model.Entity.Accounts));
            var dataTable = new google.visualization.DataTable();
            var accountsLength = Object.keys(accounts).length;
            var accountsArray = new Array(accountsLength);

            //Add each Account from Model to an array to iterate through
            for (prop in accounts) {
                accountsArray.push(accounts[prop]);
            }

            //Remove any undefined Accounts
            accountsArray = accountsArray.filter(function(n) { return n != undefined });

            //Set the graph X (Account) and Y (Balance) values
            var data = [['Account', 'Balance']];

            //Iterate through Accounts array to add each account to the graph.
            for (var i = 0; i < accountsArray.length; i++) {
                if(accountsArray[i]['Balance'] === 0)continue; //Exclude any Accounts with a balance of $0.00
                data.push([accountsArray[i]['Name'], accountsArray[i]['Balance']]);
            };

            var numRows = data.length;
            var numCols = data[0].length;

            dataTable.addColumn('string', data[0][0]);

            for (var i = 1; i < numCols; i++)
                dataTable.addColumn('number', data[0][1]);

            for (var i = 1; i < numRows; i++)
                dataTable.addRow(data[i]);

            var options = {
                width: "auto",
                pointSize: 7,
                lineWidth: 1,
                height: "200",
                backgroundColor: "transparent",
                colors: ["#EB5E28", "#F3BB45", "#F3BB45"],
                tooltip: {
                    textStyle: {
                        color: "#666666",
                        fontSize: 11
                    },
                    showColorCode: false
                },
                legend: {
                    textStyle: {
                        color: "black",
                        fontSize: 12
                    }
                },
                chartArea: {
                    left: 40,
                    top: 10,
                    height: "80%"
                }
            };

            var chart = new google.visualization.ColumnChart(document.getElementById("chartAccounts"));
            chart.draw(dataTable, options);
        }

    </script>
}
