@model JPFinancial.ViewModels.DashboardViewModel


@{
    ViewBag.Title = "Dashboard";
}
<h2 style="margin-bottom: 40px">Dashboard</h2>

<div style="padding: 35px; margin: 20px 10px">

    <div class="DashboardSummary">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Income</div>
                <div class="panel-body" style="text-align: center">@Model.MonthlyExpenses</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Mandatory Expenses</div>
                <div class="panel-body" style="text-align: center">@Model.MonthlyIncome</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Discretionary Spending</div>
                <div class="panel-body" style="text-align: center">@Model.MonthlyExpenses</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Savings Rate</div>
                <div class="panel-body" style="text-align: center">@Model.MonthlyExpenses</div>
            </div>
        </div>
    </div>

    <div class="DashboardSavings">
        <div class="col-md-12" style="margin-top: 35px">
            <h2 class="center-block" style="text-align: center">At the current savings rate, you will save</h2>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">1 Month</div>
                <div class="panel-body" style="text-align: center">@Model.OneMonthSavings</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">3 Months</div>
                <div class="panel-body" style="text-align: center">@Model.ThreeMonthsSavings</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">6 Months</div>
                <div class="panel-body" style="text-align: center">@Model.SixMonthsSavings</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">1 Year</div>
                <div class="panel-body" style="text-align: center">@Model.OneYearSavings</div>
            </div>
        </div>
    </div>

    <div class="DashboardFinancials">
        <div class="col-md-12" style="margin-top: 35px">
            <h2 class="center-block" style="text-align: center">Spending Summary for {Previous Month}</h2>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Costliest Expense Category</div>
                <div class="panel-body" style="text-align: center">Category Name<br />%</div>
                <div class="panel-footer" style="text-align: center">$</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Loan Interest</div>
                <div class="panel-body" style="text-align: center">Percentage of Income<br />%</div>
                <div class="panel-footer" style="text-align: center">$</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Loan Interest</div>
                <div class="panel-body" style="text-align: center">Percentage of Income<br />%</div>
                <div class="panel-footer" style="text-align: center">$</div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading" style="text-align: center">Loan Interest</div>
                <div class="panel-body" style="text-align: center">Percentage of Income<br />%</div>
                <div class="panel-footer" style="text-align: center">$</div>
            </div>
        </div>

    </div>

</div>


@*<div>
        <img src="@Url.Action("AccountsGraph","Dashboard")"/>
    </div>*@







