@model JPFinancial.ViewModels.DashboardViewModel


@{
    ViewBag.Title = "Main";
}

<div id="dashboard-header">
</div>

<div id="dashboard-left-menu">
</div>

<div id="dashboard-main-content">
    @using (Html.BeginForm())
    {
        <!-- BEGIN HIDDEN FIELDS AREA -->
        <!-- END HIDDEN FIELDS AREA -->

        if (Model.IsAddTransactionAreaVisible)
        {
            <!-- BEGIN CREATE TRANSACTION AREA-->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Add Transaction</h1>
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.Date, new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.CreateTransaction.Date, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.Payee, new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.CreateTransaction.Payee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Payee, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.Memo, new { @class = "control-label col-md-2" })
                            <div class="col-md-3">
                                @Html.EditorFor(model => model.CreateTransaction.Memo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Memo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.Type, new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EnumDropDownListFor(model => model.CreateTransaction.Type, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Type, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.Category, new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EnumDropDownListFor(model => model.CreateTransaction.Category, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Category, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Credit</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.CreateTransaction.SelectedCreditAccount, new SelectList(Model.CreateTransaction.Accounts, "Id", "Name"), " ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Accounts, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Debit</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.CreateTransaction.SelectedDebitAccount, new SelectList(Model.CreateTransaction.Accounts, "Id", "Name"), " ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Accounts, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.Amount, new { @class = "control-label col-md-2" })
                            <div class="col-md-2">
                                @Html.EditorFor(model => model.CreateTransaction.Amount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CreateTransaction.UsedCreditCard, "Credit?", new { @class = "control-label col-md-2" })
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.CreateTransaction.UsedCreditCard, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Credit Card</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(model => model.CreateTransaction.SelectedCreditCardAccount, new SelectList(Model.CreateTransaction.CreditCards, "Id", "Name"), " ", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CreateTransaction.SelectedCreditCardAccount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button id="btnAdd" class="btn btn-sm btn-success" data-pdsa-action="add">
                        <i class="glyphicon-calendar glyphicon-plus"></i>&nbsp;Add
                    </button>
                </div>
            </div>
            <!-- END CREATE TRANSACTION AREA-->
        }

        if (Model.IsEditTransactionAreaVisible)
        {
            <!-- BEGIN EDIT TRANSACTION AREA -->
            <!-- END EDIT TRANSACTION AREA -->
        }

        if (Model.IsTransactionsListAreaVisible)
        {
            <!-- BEGIN TRANSACTION LIST AREA-->
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Payee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Memo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transaction.UsedCreditCard)
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Payee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Memo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UsedCreditCard)
                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">Total Transaction Cost: $12,334.52</td>
                    <td colspan="2">Average Transaction Cost: $18.21</td>
                    <td colspan="2">Largest Transaction: $1382.76</td>
                    <td colspan="2">Smallest Transaction: $0.21</td>
                </tr>
                </tfoot>
            </table>
            <!-- END TRANSACTION LIST AREA-->
        }
    }
</div>

<div id="dashboard-middle-section">
</div>

<div id="dashboard-right-bar">
</div>

<div id="dashboard-footer">
</div>


@section scripts {

    <script>
        $(document).ready(function () {
            $("[data-pdsa-action]").on("click", function (e) {
                e.preventDefault();

                $("#EventCommand").val(
                    $(this).data("pdsa-action"));

                $("#EventArgument").val(
                    $(this).attr("data-pdsa-val"));

                $("form").submit();
            });
        });
    </script>
}







<!--

<div id="old">

    @{
        ViewBag.Title = "Dashboard";
    }
    <h2 style="margin-bottom: 40px">Dashboard</h2>

    <div style="padding: 35px; margin: 20px 10px">

        <div class="DashboardTransactions">
            @{ Html.RenderAction("CreateTransaction", "Dashboard"); }
            @{ Html.RenderAction("Transactions", "Dashboard"); }
        </div>

        <div class="DashboardAccounts">
            <div class="DashboardLargestAccounts">
                <h4 style="text-align: left; float: left; margin: 0; vertical-align: bottom">Largest 5 Accounts</h4>
                <h4 style="text-align: right; float: right; margin: 0; vertical-align: bottom">@Html.ActionLink("All Accounts", "Index", "Accounts")</h4>
                @{ Html.RenderAction("LargestAccounts", "Dashboard"); }
            </div>

            <div class="DashboardSmallestAccounts">
                <h4 style="text-align: left; float: left; margin: 40px 0 0 0; vertical-align: bottom">Smallest 5 Accounts</h4>
                <h4 style="text-align: right; float: right; margin: 40px 0 0 0; vertical-align: bottom">@Html.ActionLink("All Accounts", "Index", "Accounts")</h4>
                @{ Html.RenderAction("SmallestAccounts", "Dashboard"); }
            </div>

            <div class="DashboardTransactions" style="margin: 40px 0 0 0">
                @{ Html.RenderAction("TopTransactions", "Dashboard"); }
            </div>
        </div>

        <div class="DashboardSummary">
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Income</div>
                    <div class="panel-body" style="text-align: center">@Model.MonthlyIncome</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Mandatory Expenses</div>
                    <div class="panel-body" style="text-align: center">@Model.MandatoryExpenses</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Discretionary Spending</div>
                    <div class="panel-body" style="text-align: center">@Model.DiscretionarySpending</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Savings Rate</div>
                    <div class="panel-body" style="text-align: center">@Model.SavingsRate</div>
                </div>
            </div>
        </div>

        <div class="DashboardSavings">
            <div class="col-md-12" style="margin-top: 35px">
                <h2 class="center-block" style="text-align: center">At the current savings rate, you will save</h2>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">1 Month</div>
                    <div class="panel-body" style="text-align: center">@Model.OneMonthSavings</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">3 Months</div>
                    <div class="panel-body" style="text-align: center">@Model.ThreeMonthsSavings</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">6 Months</div>
                    <div class="panel-body" style="text-align: center">@Model.SixMonthsSavings</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">1 Year</div>
                    <div class="panel-body" style="text-align: center">@Model.OneYearSavings</div>
                </div>
            </div>
        </div>

        <div class="DashboardFinancials">

            <div class="col-md-12" style="margin-top: 35px">
                <h2 class="center-block" style="text-align: center">
                    Spending Summary for
                    @{ DateTime.Today.AddMonths(-1).ToString("M");}
                </h2>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Costliest Expense Category</div>
                    <div class="panel-body" style="text-align: center">@Model.CostliestCategory<br />@Model.CostliestExpensePercentage</div>
                    <div class="panel-footer" style="text-align: center">@Model.CostliestExpenseAmount</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Monthly Loan Interest</div>
                    <div class="panel-body" style="text-align: center">Percentage of Income<br />@Model.LoanInterestPercentOfIncome</div>
                    <div class="panel-footer" style="text-align: center">@Model.MonthlyLoanInterest</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Daily Loan Interest</div>
                    <div class="panel-body" style="text-align: center">Percentage of Income<br />@Model.DailyLoanInterestPercentage</div>
                    <div class="panel-footer" style="text-align: center">@Model.DailyLoanInterest</div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="text-align: center">Disposable Income</div>
                    <div class="panel-body" style="text-align: center">Percentage of Income<br />@Model.DisposableIncomePercentage</div>
                    <div class="panel-footer" style="text-align: center">@Model.DisposableIncome</div>
                </div>
            </div>

        </div>

    </div>


    @*<div>
            <img src="@Url.Action("AccountsGraph","Dashboard")"/>
        </div>*@


</div>





-->