@model JPFData.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
}

@Styles.Render("~/Content/dashboard.css")

<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron-fluid">

                <div class="row">
                    <div class="col-12" id="graph">
                        <div id="cashFlowDiv" class="card text-white bg-dark">
                            <div class="header">
                                <header>Cash Flow</header>
                            </div>
                            <div class="content">
                                <div id="chartCashFlow" class="ct-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" id="metricsRow">
                    <div class="col-8" id="expenseCol">
                        <div id="expense">
                            <div class="card text-white bg-dark">
                                <div class="card-header card-title text-center">Expense Metrics</div>
                                <div class="card-body" style="display: flex">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Minimum Monthly Expenses</div>
                                            <div class="col-6 expenseContentValue">$@Model.Metrics.MinimumMonthlyExpenses</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Expenses Due Before Next Paycheck</div>
                                            <div class="col-6 expenseContentValue">$342</div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6 expenseContentLabel">Targeted Net Worth</div>
                                            <div class="col-6 expenseContentValue">$@Model.Metrics.TargetedNetWorth</div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row text-center">
                                            <div class="col-12">
                                                <div>50-20-30 Rule</div>
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-12">
                                                <div>$@Model.Metrics.BudgetRuleExpense / $@Model.Metrics.BudgetRuleSavings / $@Model.Metrics.BudgetRuleDiscretionary</div>
                                            </div>
                                        </div>
                                    </div>

                                    @*<table title="Expenses">
                                            <tbody>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Minimum Monthly Expenses</td>
                                                <td style="width: 50%" class="expenseContentValue">$1,983</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Expenses Due Before Next Paycheck</td>
                                                <td style="width: 50%" class="expenseContentValue">$342</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Targeted Net Worth</td>
                                                <td style="width: 50%" class="expenseContentValue">$350,000</td>
                                            </tr>
                                            </tbody>
                                        </table>*@

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" id="incomeCol">
                        <div id="income">
                            <div class="card text-white bg-dark">
                                <div class="card-header card-title text-center">Ratios</div>
                                <div class="card-body">
                                    <table title="Expenses">
                                        <tbody>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Current</td>
                                                <td style="width: 50%" class="expenseContentValue">3.04</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Debt-To-Income</td>
                                                <td style="width: 50%" class="expenseContentValue">1.87%</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Savings</td>
                                                <td style="width: 50%" class="expenseContentValue">@Model.Metrics.SavingsRate</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%" class="expenseContentLabel">Emergency Fund (Months)</td>
                                                <td style="width: 50%" class="expenseContentValue">4.84</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12" id="disposableIncomeCol">
                        <div id="disposableIncome">
                            <div class="card text-white bg-dark">
                                <div class="card-header card-title text-center">
                                    Disposable Income
                                    <div>@Model.Metrics.DisposableIncome</div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="col-md-12 sliderDiv">
                                                <div class="col-md-4"><label for="account3">Account 3</label></div>
                                                <div class="col-md-8">
                                                    <div class="slider"><input type="range" class="bar" value="10035100" min="200" max="1500" id="account3" onchange="rangevalue1.value = value" /><span class="highlight"><output class="rangevalue" id="rangevalue1">10035100</output></span></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 sliderDiv">
                                                <div class="col-md-4"><label for="account3">Account 3</label></div>
                                                <div class="col-md-8">
                                                    <div class="slider"><input type="range" class="bar" value="10035100" min="200" max="1500" id="account3" onchange="rangevalue1.value = value" /><span class="highlight"><output class="rangevalue" id="rangevalue1">10035100</output></span></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 sliderDiv">
                                                <div class="col-md-4"><label for="account3">Account 3</label></div>
                                                <div class="col-md-8">
                                                    <div class="slider"><input type="range" class="bar" value="10035100" min="200" max="1500" id="account3" onchange="rangevalue1.value = value" /><span class="highlight"><output class="rangevalue" id="rangevalue1">10035100</output></span></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-4">
                                            <div class="col-md-12 sliderDiv">
                                                <div class="col-md-4"><label for="account3">Account 3</label></div>
                                                <div class="col-md-8">
                                                    <div class="slider"><input type="range" class="bar" value="10035100" min="200" max="1500" id="account3" onchange="rangevalue1.value = value" /><span class="highlight"><output class="rangevalue" id="rangevalue1">10035100</output></span></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 sliderDiv">
                                                <div class="col-md-4"><label for="account3">Account 3</label></div>
                                                <div class="col-md-8">
                                                    <div class="slider"><input type="range" class="bar" value="10035100" min="200" max="1500" id="account3" onchange="rangevalue1.value = value" /><span class="highlight"><output class="rangevalue" id="rangevalue1">10035100</output></span></div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 sliderDiv">
                                                <div class="col-md-4"><label for="account3">Account 3</label></div>
                                                <div class="col-md-8">
                                                    <div class="slider"><input type="range" class="bar" value="10035100" min="200" max="1500" id="account3" onchange="rangevalue1.value = value" /><span class="highlight"><output class="rangevalue" id="rangevalue1">10035100</output></span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 50%" class="expenseContentLabel">Current</td>
                                                        <td style="width: 50%" class="expenseContentValue">3.04</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50%" class="expenseContentLabel">Debt-To-Income</td>
                                                        <td style="width: 50%" class="expenseContentValue">1.87%</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50%" class="expenseContentLabel">Savings</td>
                                                        <td style="width: 50%" class="expenseContentValue">9.5%</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 50%" class="expenseContentLabel">Emergency Fund (Months)</td>
                                                        <td style="width: 50%" class="expenseContentValue">4.84</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts {

    <script type="text/javascript">


        function chart() {

            const metrics = @Html.Raw(Json.Encode(@Model.Metrics));
            const cashFlowByMonth = metrics.CashFlowByMonth;

            const cashFlowLength = Object.keys(cashFlowByMonth).length;

            let monthsArray = new Array(cashFlowLength);
            let cashFlowArray = new Array(cashFlowLength);
            let highestAmount = 0;


            for (let prop in cashFlowByMonth) {
                if (cashFlowByMonth.hasOwnProperty(prop)) {
                    monthsArray.push(prop);
                    cashFlowArray.push(cashFlowByMonth[prop]);
                    if (cashFlowByMonth[prop] > highestAmount) {
                        highestAmount = cashFlowByMonth[prop];
                    }
                }
            }
        

            monthsArray = monthsArray.filter(function(n) { return n != undefined });
            cashFlowArray = cashFlowArray.filter(function(n) { return n != undefined });
         


            const dataTable = new window.google.visualization.DataTable();

            var data = [['Month', 'Cash Flow']];

            for (let i = 0; i <= monthsArray.length; i++) {
                data.push([monthsArray[i], cashFlowArray[i]]);
            }

            var numRows = data.length;
            var numCols = data[0].length;

            dataTable.addColumn('string', data[0][0]);

            for (let i = 1; i < numCols; i++)
                dataTable.addColumn('number', data[0][i]);

            for (let i = 1; i < numRows; i++)
                dataTable.addRow(data[i]);

            const options = {
                width: "100%",
                pointSize: 8,
                lineWidth: 2,
                height: "300",
                backgroundColor: "transparent",
                colors: ["#6BFFB8"],
                tooltip: {
                    textStyle: {
                        color: "#E1E5EE",
                        fontSize: 12
                    },
                    showColorCode: true
                },
                legend: {
                    textStyle: {
                        color: "#E1E5EE",
                        border: 2,
                        fontSize: 12
                    }
                },
                chartArea: {
                    left: 50,
                    top: 25,
                    height: "85%"
                },
                vAxis: {
                    gridlines: {
                        color: "transparent"
                    }
                }
            }

            const googleChart = new window.google.visualization.AreaChart(document.getElementById("chartCashFlow"));
            googleChart.draw(dataTable, options);
        };


        google.load("visualization",
            "1",
            {
                packages: ["corechart"]
            });

        $(document).ready(function () { chart(); });

    </script>
}
