@model JPFData.Models.JPFinancial.CreditCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CreditCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingStatementBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingStatementBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditLimit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseApr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseApr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashAdvanceApr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashAdvanceApr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GracePeriodDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GracePeriodDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndOfCycleDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndOfCycleDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextPaymentDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextPaymentDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashAdvanceBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashAdvanceBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CashAdvanceLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashAdvanceLimit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
